div
    h1#l1.locution(
        data-hz-resource="HzLocution",
        data-opt-hz-locution-files="./assets/voice.mp3",
        data-opt-hz-locution-subtitles="./assets/voice_es.vtt"
    ) Test simple
    h1.locution(
        data-hz-resource="HzLocution",
        data-opt-hz-locution-files="./assets/long.mp3",
        data-opt-hz-locution-subtitles="./assets/long_es.vtt"
    ) Test simple 2
