div
    h1#l1.locution(
        data-hz-resource="HzLocution",
        data-opt-hz-locution-files="./assets/voice.mp3",
        data-opt-hz-locution-subtitles="./assets/voice_es.vtt",
        data-opt-hz-locution-subtitles-container="#6615-subtitles"
    ) Test simple
    h1.locution(
        data-hz-resource="HzLocution",
        data-opt-hz-locution-files="./assets/long.mp3",
        data-opt-hz-locution-subtitles="./assets/long_es.vtt",
        data-opt-hz-locution-subtitles-container="#6615-subtitles"
    ) Test simple 2
    div#6615-subtitles
    button#toggle Toggle
